.collection-preview-wrapper {
    display: flex;
    flex-direction: column;

    .collection-preview-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
