.single-item {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: fit-content;

    .single-item-image {
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
    }

    .single-item-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bolder;
        border: 1px solid blue;
    }
}
