.single-item {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;

    .single-item-image {
        background-size: cover;
        background-position: center;
        height: 400px;
        width: 300px;
        margin-bottom: 15px;
        border-radius: 3px;
    }

    .single-item-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bolder;
        // border: 1px solid blue;

        .name {
            font-weight: bolder;
        }
    }
}
